* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 3rem;
  font-family: sans-serif;
}
.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-control {
  margin: 3rem 0;
  display: flex;
}
.form-control > input {
  padding: 1rem 2rem;
  border: 2px solid #4a4483;
  outline: none;
  font-size: 2rem;
  width: 30rem;
}
.form-control > button {
  border: none;
  background-color: #4a4483;
  color: white;
  font-size: 2rem;
  width: 10rem;
  cursor: pointer;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 40rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 5px #ccc;
}
.filterDiv {
  display: none;
}
.shopping-item-name,
.fas.fa-trash {
  cursor: pointer;
}
.done {
  text-decoration: line-through;
}
.fas.fa-trash:hover {
  color: red;
}
select {
  border: 1px solid rgb(201, 201, 201);
  width: 8rem;
  height: 3rem;
  outline: none;
  margin-bottom: 1rem;
  align-content: center;
}
.containerb {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containerb > button {
  border: none;
  background-color: #4a4483;
  color: white;
  font-size: 2rem;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  margin: 0rem 1rem;
  margin-bottom: 2rem;
}
.filterx {
  display: flex;
}
