* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  grid-area: header;
}
.sbox1 {
  grid-area: sbox1;
}
.sbox2 {
  grid-area: sbox2;
}
.sbox3 {
  grid-area: sbox3;
}
.side {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.grid-container {
  justify-content: center;
  display: grid;
  grid-gap: 1rem;
  background-color: white;
  grid-template-columns: 7rem 7rem 7rem 6rem;
  grid-template-rows: 3rem 7em 7rem 3rem;
  grid-template-areas:
    "header header header header"
    "sbox1 sbox2 sbox3 sidebar"
    "main main main sidebar"
    "footer footer footer footer";
  text-align: center;
}
.grid-container > div {
  background-color: red;
  color: white;
  font-size: 50%;
  font-weight: 300;
}
